<div class="wrapper">
    <div class="bottom">
    </div>

    <img src="assets/img/afamosa-logo.png" alt="" class="img-logo">

    <!-- <h1>A'Famosa</h1> -->
    <h2>Water Theme Park</h2>

    <div class="manual-wrapper">
        <div class="manual-container">
            <img src="assets/img/manual-1.png" alt="" class="img-responsive manual-img">

            <div class="manual-text">
                <strong>1</strong> <br>
                Scan RFID
            </div>
        </div>
        <div class="manual-container">
            <img src="assets/img/manual-2.png" alt="" class="img-responsive manual-img">

            <div class="manual-text">
                <strong>2</strong> <br>
                Get Locker <br> Number
            </div>
        </div>
    </div>

    <div class="lang-wrapper">
        <div class="lang" [routerLink]="['/manual']" >
            <img src="assets/img/lang-en.png" class="img-responsive" alt="">
            <h2>EN</h2>
            <div class="lang-btn">
                <img src="assets/img/lang-btn.png" alt="">
            </div>
        </div>

        <div class="lang" [routerLink]="['/manual']" >
            <img src="assets/img/lang-cn.png" class="img-responsive" alt="">
            <h2>中國</h2>
            <div class="lang-btn">
                <img src="assets/img/lang-btn.png" alt="">
            </div>
        </div>

        <div class="lang" [routerLink]="['/manual']" >
            <img src="assets/img/lang-male.png" class="img-responsive" alt="">
            <h2>māleseīy</h2>
            <div class="lang-btn">
                <img src="assets/img/lang-btn.png" alt="">
            </div>
        </div>
    </div>
</div>