<div class="wrapper">
    <h1>{{lang_content[lang].topic_1}}</h1>

    <ng-container *ngIf="avalible_locker">
        <div class="locker-no">
            <div class="zone">
                <div>ZONE</div>
                <div>{{avalible_locker.zone_title}}</div>
            </div>
            <div class="no">
                <div>NO</div>
                <div>{{avalible_locker.title}}</div>
            </div>
        </div>
    
        <div class="location-wrapper">
            <img src="assets/img/zone-{{avalible_locker.zone_title}}.png" alt="" class="img-responsive">
        </div>
    
    
        <div class="form-wrapper">
            <img src="assets/img/person-icon.png" alt="" class="img-responsive">
    
            <div class="form-text">
                {{lang_content[lang].topic_2}}
            </div>
            
        </div>
    </ng-container>
    

    

</div>