@import './assets/css/reset.css';
@import './assets/css/styles.css';

body {
    height: 100vh;
    color: white;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #2196F3;
}

.mat-button-wrapper {
    display: flex;
    align-items: center;
}

.img-logo {
    max-width: 185px;
}


/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.setting-ip {
    button {
        .mat-button-wrapper {
            display: block;
        }
    }
}